<%- include('partials/header') %>

<section class="section">

    <h3>404 Not Found</h3>

    <img class="not_found" src="/picture/icones/404.jpg" alt="404 not found">

</section>

<%- include('partials/footer') %>