<%- include('partials/header') %>

<section class="section">

    <h3><%= homeName %></h3>

    <form action="/admin/login" method="post">
        <div class="email">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="Password">
        </div>

        <input class="connexion" type="submit" value="Connexion">
    </form>

</section>

<%- include('partials/footer') %>