<%- include('partials/header') %>

<form action="" method="post">
    <div class="imgcontainer">
      <!-- <img src="./picture/O'frigo.png" alt="Avatar" class="avatar"> -->
    </div>
  
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit">Login</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>
  
    <div class="container">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
  
  <img src="/picture//logo/O'Frigo.png" alt="Test Image2">
  
<%- include('partials/footer') %>

