.section {
    width: 25vw;
}

form {
    display: flex;
    flex-direction: column;
}

.first-last_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.account form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3rem auto 0 auto;
    align-items: center;
    gap: 10px;
}

form input {
    padding: 5px;
    width: 15vw;
}

.create_account {
    width: 150px;
    margin: 15px auto 0 auto;
    padding: 5px;
    border: 3px solid #35373B;
    border-radius: 10px;
    background-color: #35373B;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.2);
}

.create_account:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-top: 3px solid #eba81a;
    border-bottom: 3px solid #eba81a;
    border-left: none;
    border-right: none;
}

/* .create_account {
    display: block;
    width: 150px;
    margin: 15px auto 0 auto;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    padding: 10px;
    background: #35373B;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px #ffbd44;
}

.create_account:hover {
    box-shadow: 0 3px #ffbd44;
    top: 3px;
}

.create_account:active {
    box-shadow: 0 0 #ffbd44;
    top: 5px;
} */

.error {
    background-color: red;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role {
    margin: -2vh 0 3vh 0;
}