.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0 auto;
    padding: 10px;
    color: #35373B;
    border: 4px solid #eba81a;
    border-radius: 0 30px 0 30px;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.3);
}

.category  li {
    padding: 5px;
}

.ingredient {
    margin-top: 5vh;
}

.ingredient h3 {
    border-bottom: none;
    width: 90%;
    margin: auto;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0;
}

/*========== TABLE ==========*/

table {
    border-collapse: collapse; 
    margin: auto;
    width: 90%;
    box-shadow: 0px 5px 15px 3px rgba(0,0,0,0.2);
}

thead {
    border-top: 2px solid rgb(75, 75, 75);
    border-bottom: 2px solid rgb(75, 75, 75);
    background-color: #35373B;
    color: white;
}

th, td {
    padding: 2px; 
    text-align: center;
}

tr, td {
    border: 1px solid rgb(75, 75, 75);
}

td {
    word-wrap: break-word;
}

.top {
    border-top: 4px solid #eba81a;
}

.bottom {
    border-bottom: 4px solid #eba81a;
}

caption {
    color: white; 
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0 auto 5vh auto;
    border-top: 2px solid rgb(75, 75, 75);
    border-bottom: 2px solid rgb(75, 75, 75);
    border-left: 4px solid #eba81a;
    border-right: 4px solid #eba81a;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -2px rgba(36,36,36,0.65);
    background-color: #35373B;
    width: 50%;
}
  
th {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 3px;
}

.picture-ingredient {
    height: 35px;
}

a {
    color: black;
}

.icones {
    width: 25px;
}

.icones img {
    width: 25px;
}

.add-icone img {
    width: 45px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2.5vh;
}

.add span {
    margin-left: 10px;
    font-size: 1.2rem;
}

.add a {
    color: #5D5F62;
}

.add-icone:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out; 
}

.update-delete {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    padding-right: 10px;
}

.icones-category {
    width: 35px;
    padding: 5px;
    margin-left: 1vw;
}

.icones-category img {
    width: 35px;
}

/* TEST */
td {
    min-width: 25px;
    max-width: 15vw;
}