.section {
    width: 50vw;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0 auto;
    padding: 10px;
    color: #35373B;
    border: 4px solid #eba81a;
    border-radius: 0 30px 0 30px;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.3);
}

.info li {
    padding: 5px;
}

.content {
    width: 40vw;
    margin: 2vh auto 0 auto;
    color: #35373B;
}

.content p {
    padding: 25px;
    word-wrap: break-word;
    border: 4px solid #eba81a;
    border-radius: 50px;
    box-shadow: 0px 5px 15px 3px rgba(0,0,0,0.3);
}

.update-delete {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.icones-message {
    width: 35px;
    padding: 5px;
    margin-left: 1vw;
}

.icones-message img {
    width: 35px;
}