@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*========== ALL ==========*/

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
}

/*========== BODY ==========*/

.body {
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: 
  "top top top top top top top top top top"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "left right right right right right right right right right"
  "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom"
  ;
  height: 100vh;
}

/*========== HEADER ==========*/

.header {
  grid-area: top;
  background-color: #fb9032;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.logo {
  margin-left: 5px;
}

.logo, .title, .profil {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 100px;
}

.logo_span {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  padding-left: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  justify-content: center;
}

.profil {
  justify-content: right;
  margin-right: 5vw;
  font-size: 1.3rem;
  font-weight: #ffa04e;
  font-weight: bold;
}

/*========== LEFT-MENU ==========*/

.leftMenu {
  grid-area: left;
  background-color: rgb(230, 230, 230);
  border-right: 1px solid black;
  display: flex;
}

.leftMenu ul {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.leftMenu li {
  background-color: #57585d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.leftMenu a {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.leftMenu li:hover {
  transition: 0.2s ease-in-out;
  background-color: #fb9032;
}

/*========== SECTION ==========*/

.section {
  grid-area: right;
}

/*========== FOOTER ==========*/

.footer {
  grid-area: bottom;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: space-between;
}

.footer a {
  padding: 15px;
}

.footer a:hover {
  transition: 0.2s ease-in-out;
  color: #fb9032;
}