@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*========== ALL ==========*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #E9EAED;
    position: relative;
    min-height: 100%;
    padding-bottom: 5vh;
    box-sizing: border-box;
}

/*========== HEADER ==========*/

.header {
    position: sticky;
    top: 0;
    width: 100%;
}

.header-logo-profile {
    display: flex;
    justify-content: space-between;
    /* background-color: #35373B; */
    background: linear-gradient(to top, #35373B, #676a72);
}

.logo-name {
    display: flex;
    align-items: center;
    padding: 0 0 0 1vw;
}

.logo-name span {
    margin-left: 1vw;
    font-weight: bolder;
    color: white;
}

.logo-name img {
    height: 60px;
}

.logo-span {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 8px 0 8px 0;
    margin-left: 15px;
    color: white;
    border-top: 3px solid #eba81a;
    border-bottom: 3px solid #eba81a;
    border-radius: 0 20% 20% 0;
}

.logo-span:hover {
    transition: 0.2s ease-in-out;
    border-top: 3px solid #E9EAED;
    border-bottom: 3px solid #E9EAED;
    color: #eba81a;
}

.profil {
    display: flex;
    align-items: center;
    padding: 0 2vw 0 0;
}

.profil a {
    padding: 10px;
    font-weight: bolder;
    color: white;
}

.profil a:hover {
    color: #eba81a;
}

/*========== NAV ==========*/

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 5vh;
    margin: auto;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-bottom: 4px solid #eba81a;
}

.nav li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav a {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    padding: 0 20px;
}

.nav a:hover, nav li:hover {
    transition: 0.2s ease-in-out;
    background-color: #35373B;
    color: white;
}

/*========== SECTION ==========*/

/* .section {
    background-color: white;
    width: 70vw;
    margin: 10vh auto;
    padding-bottom: 3rem;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 3px rgba(0,0,0,0.3);
}
.section h3 {
    background-color: #35373B;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 3vh auto 0 auto;
    padding: 0.5rem;
    border-radius: 25px 25px 5px 5px;
    border-bottom: 4px solid #eba81a;
} */

.section {
    background-color: white;
    width: 70vw;
    margin: 5vh auto;
    padding-bottom: 3rem;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 3px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #eba81a;
    box-shadow: 0px 5px 15px 3px rgba(0,0,0,0.3);
}

.section h3 {
    background-color: #35373B;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 25px 25px 0 0;
    border-bottom: 4px solid #eba81a;
}

/*========== FOOTER ==========*/

.footer {
    background-color: #35373B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
}
  
.footer ul {
    display: flex;
}
  
.footer a {
    padding: 0 2rem;
    margin: 0 1rem;
    color: white;
}
  
.footer a:hover {
    transition: 0.2s ease-in-out;
    color: #fb9032;
}