<footer class="footer">
    <ul>
      <li>
        <a href="#">CGU</a>
      </li>
      <li>
        <p>Copyright © 2023 O'Frigo</p>
      </li>
      <li>
        <a href="#">CGV</a>
      </li>
    </ul>
</footer>
</body>
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector(".nav");

  burger.addEventListener('click', ()=>{
    nav.classList.toggle("mobile-menu");
  });
</script>
</html>