<footer>
    <ul>
      <li>
        <a href="">CGU</a>
      </li>
      <li>
        <a href="">Copyright</a>
      </li>
      <li>
        <a href="">CGV</a>
      </li>
    </ul>
</footer>
</body>
</html>