<footer class="footer">
    <ul>
      <li>
        <a href="#">CGU</a>
      </li>
      <li>
        <p>Copyright © 2023 O'Frigo</p>
      </li>
      <li>
        <a href="#">CGV</a>
      </li>
    </ul>
</footer>

</body>
</html>