<footer class="footer">
    <ul>
      <li>
        <a href="#">CGU</a>
      </li>
      <li>
        <a href="#">Copyright</a>
      </li>
      <li>
        <a href="#">CGV</a>
      </li>
    </ul>
</footer>

<script>
// Récupérer tous les boutons de menu déroulant
var dropdownButtons = document.getElementsByClassName("dropbtn");

// Pour chaque bouton de menu déroulant, ajouter un événement de clic
for (var i = 0; i < dropdownButtons.length; i++) {
  dropdownButtons[i].addEventListener("click", function() {
    // Récupérer l'élément de menu déroulant associé
    var dropdownContent = this.nextElementSibling;

    // Ajouter ou supprimer la classe "show" pour l'élément de menu déroulant
    dropdownContent.classList.toggle("show");
  });
}

// Fermer le menu déroulant lorsqu'un utilisateur clique en dehors de celui-ci
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      if (dropdowns[i].classList.contains('show')) {
        dropdowns[i].classList.remove('show');
      }
    }
  }
}


</script>

</body>
</html>

