<aside class="leftMenu">
  <ul>
      <li class=""><a href="/admin/home">Accueil</a></li>
      <% for(const name of leftMenu) { %>
          <li><a href="/admin/<%=name%>"><%= name %></a></li>
      <% } %>
      <li>
        <a href="/admin/login">Deconnexion</a>
      </li>
  </ul>
</aside>